<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/css/select2.min.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
              integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
              crossorigin=""/>
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="mb-4">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ path('home') }}">MyAgency</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link {% if current_menu is defined and current_menu == 'properties' %}active {% endif %} " href="{{ path('property.index') }}">Acheter</a>
                    </li>
                </ul>
                {% if app.user %}
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="{{ path('admin.property.index') }}" class="nav-link">Administration</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('logout') }}" class="nav-link">Se déconnecter</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </nav>

        {% block body %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.min.js"></script>
        <script>
            $('select').select2();
        </script>

        <script>
            //Suppression des elements
            document.querySelectorAll('[data-delete]').forEach(a => {
                a.addEventListener('click', e => {
                   e.preventDefault();
                   fetch(a.getAttribute('href'), {
                       method: 'DELETE',
                       headers: {
                           'X-Requested-With': 'XMLHttpRequest',
                           'Content-Type': 'application/json'
                       },
                       body: JSON.stringify({'_token': a.dataset.token})
                   }).then(response => response.json())
                    .then(data => {
                        if(data.success)
                        {
                            a.parentNode.parentNode.removeChild(a.parentNode);
                        }
                        else
                        {
                            alert(data.error)
                        }
                    })
                    .catch(e => alert(e))
                });
            });
        </script>

        <script src="https://cdn.jsdelivr.net/npm/places.js@1.18.1"></script>
        <script>
            var placesAutocomplete = places({
                container: document.querySelector('#property_address')
            });
            placesAutocomplete.on('change', e => {
                document.querySelector("#property_city").value = e.suggestion.city;
                document.querySelector("#property_postal_code").value = e.suggestion.postcode;
                document.querySelector("#property_lat").value = e.suggestion.latlng.lat;
                document.querySelector("#property_lng").value = e.suggestion.latlng.lng;

            });
        </script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
